.uc-drupal {
  background: url(images/drupal.ico) no-repeat;
  padding-left:1.5em;
}
.uc-google {
  background: url(images/google.ico) no-repeat;
  padding-left:1.5em;
}
.uc-myspace {
  background: url(images/myspace.ico) no-repeat;
  padding-left:1.5em;
}
.uc-wikibooks {
  background: url(images/wikibooks.ico) no-repeat;
  padding-left:1.5em;
}
.uc-wikimedia {
  background: url(images/wikimedia.ico) no-repeat;
  padding-left:1.5em;
}
.uc-wikinews {
  background: url(images/wikinews.ico) no-repeat;
  padding-left:1.5em;
}
.uc-wikipedia {
  background: url(images/wikipedia.ico) no-repeat;
  padding-left:1.5em;
}
.uc-wikiquote {
  background: url(images/wikiquote.ico) no-repeat;
  padding-left:1.5em;
}
.uc-wikisource {
  background: url(images/wikisource.ico) no-repeat;
  padding-left:1.5em;
}
.uc-wiktionary {
  background: url(images/wiktionary.ico) no-repeat;
  padding-left:1.5em;
}
.uc-yahoo {
  background: url(images/yahoo.ico) no-repeat;
  padding-left:1.5em;
}
.uc-youtube {
  background: url(images/youtube.ico) no-repeat;
  padding-left:1.5em;
}